.blogPosts-cards-img-container {
    width: 100%;
}

.blogPosts-cards-img {
    width: 100%;
}

.blogPosts-cards {
    flex: 1 1 40%;
}

.blogPosts-cards p:nth-child(2) {
    color: blue;
    font-weight: 400 !important;
}

.blogPosts-cards p:nth-child(3) {
    font-size: 1.5rem;
}